In [1]:
import sys
import os

sys.path.append(os.path.abspath('..'))

In [2]:
from graph import Graph, Vertex, Edge
from controller import Controller

In [3]:
ds = (5,4,4,3,3,3,3,3,2)
graph = Controller.graph_from_ds(ds)
graph.build_adj_matrix()

   0  1  2  3  4  5  6  7  8
0  0  1  1  1  1  1  0  0  0
1  1  0  1  0  0  0  1  1  0
2  1  1  0  0  0  0  1  1  0
3  1  0  0  0  1  1  0  0  0
4  1  0  0  1  0  0  0  0  1
5  1  0  0  1  0  0  0  0  1
6  0  1  1  0  0  0  0  1  0
7  0  1  1  0  0  0  1  0  0
8  0  0  0  0  1  1  0  0  0

In [4]:
graph.build_inc_matrix()

,"(0, 1)","(0, 2)","(0, 3)","(0, 4)","(0, 5)","(1, 2)","(1, 6)","(1, 7)","(2, 6)","(2, 7)","(3, 4)","(3, 5)","(8, 4)","(8, 5)","(6, 7)"
0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,1,1,1,0,0,0,0,0,0,0
2,0,1,0,0,0,1,0,0,1,1,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0
4,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0
5,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0
6,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1
7,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0

In [5]:
tp = (5,3,3,3,2,0,0)
lst = list(tp)
for idx in range(len(lst)):
    lst[idx] = len(lst) - lst[idx]
    
lst.sort(reverse=True)
lst

[7, 7, 5, 4, 4, 4, 2]

In [6]:
Controller.is_graphicable(tuple(lst))

False